<div id="slide-out" class="sidenav product-description-sidenav">
	<div class="sd-product-desc-header">
		<a class="sidenav-close" href="#!"><i class="material-icons">close</i></a>
		<div class="product-article-caption">
			<h4>Product article</h4>
		</div>
	</div>
</div>
